body {
    background-color: aquamarine;
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

form {
  text-align: center;
  margin-top: 10px;
}

h1, h2 {
    color: red;
}

/*   container for back link    */
.back-link-cont {
    text-align: start;
}